Before you start

To prepare for this project you'll need to make sure you complete and understand these steps.

2 steps

1. Make sure you have a GitHub account and know how to create a new repository and upload files to it. If you need a reminder on how to use GitHub and GitHub desktop, check out the workshop Share Your Projects wIth GitHub Desktop.

2. If you need a reminder on how to use GitHub and GitHub desktop to create a new repository check out the workshop 'Share Your Projects wIth GitHub Desktop' in the Project Resources.
Download the project files. We’ve provided several files to help with this project:

2.1 The mockups folder shows what the page should look like when it first loads, as the game is being played, and when the game is over.

2.2 The html_snippets folder contains three files: start.txt includes the HTML for the opening screen. What players see when the page first loads. board.txt includes the HTML of the Tic Tac Toe gameboard. win.txt includes the HTML to display when the game is over. You'll need to modify this HTML for when player 0 or X wins or when there's a tie

2.3 The css folder contains the CSS for the game

2.4 The img folder contains two SVG images -- o.svg and x.svg. These images are used to display the players, and are used in the boxes of the board to indicate who claimed that square

2.4.1 The index.html file is the page where the game will be displayed

2.4.2 The js folder is empty -- that's where you'll add your JavaScript file or files.

**********************

Project Instructions -
 
7 steps - 
----------
1. Use the supplied mockup files and HTML snippets to guide you in building a Tic Tac Toe game. You can use jQuery or plain JavaScript to complete this project. Don't use an already programmed Tic Tac Toe plugin or library. - Done

2. When the page loads, the startup screen should appear. Use the tictactoe-01-start.png mockup, and the start.txt HTML snippet to guide you. - Done

3. Add programming, so that when the player clicks the start button the start screen disappears, the board appears, and the game begins. Use the tictactoe-02-inprogress.png mockup, and the board.txt HTML snippet to guide you. - Done

4. Add the game play following these rules:

4.1 Play alternates between X and O. - Done

4.2 The current player is indicated at the top of the page -- the box with the symbol O or X is highlighted for the current player. You can do this by simply adding the class .active to the proper list item in the HTML. For example, if it's player one's turn, the HTML should look like this: <li class="players active" id="player1"> - Done

4.3 When the current player mouses over an empty square on the board, it's symbol the X or O should appear on the square. You can do this using the x.svg or o.svg graphics (hint use JavaScript to set the background-image property for that box.) - Done

4.4 Players can only click on empty squares. When the player clicks on an empty square, attach the class box-filled-1 (for O) or box-filled-2 (for X) to the square. The CSS we're providing will automatically add the proper image to the square marking it as occupied. - Done

4.5 The game ends when one player has three of their symbols in a row either horizontally, vertically or diagonally. If all of the squares are filled and no players have three in a row, the game is a tie.

5 Add programming so that when the game ends, the board disappears and the game end screen appears. Use the tictactoe-03-winner1.png and tictactoe-04-winner2.png mockups, and the win.txt HTML snippet for guidance. Depending on the game results the final screen should:

5.1 Show the word "Winner" or the phrase "It's a Tie!"

5.2 Add the appropriate class to the <div> for the winning screen: <div class="screen screen-win" id="finish"> screen-win-one for player 1, screen-win-two for player two, or screen-win-tie if the game ends with no winner. For example, if player 1 wins, the HTML should look like this: <div class="screen screen-win screen-win-one" id="finish">

6 Add programming so that when a player pushes the "New Game" button, the board appears again, empty, and a new game begins.

7 Use the module pattern to wrap all of your JavaScript code into a single global variable or an immediately invoked function.

*******************

Extra Credit

To get an "exceeds" rating, you can expand on the project in the following ways:

4 steps -
---------- 
1. On the start screen, prompt the user add their name before the game starts
2. Display the player’s name on the board screen during game play
3. Add programming to support playing against the computer. Only one player plays; the other is controlled by your programming.
4. Display the player’s name if they win the game